.login-form{
    background-color: $grey;
    color: $white;
    padding: 20px;

        a{
            color: white;
        }
}

.register-form{
    @extend .login-form;
    margin-bottom: 10px;
    background-color: $lightGreen;
    
}

button.login-btn{

    &:link{
        background-color:$lightGreen;
    }

    &:active{
        background-color:$lightGreen;
    }

    &:hover{
        background-color:$lightGreen;
    }

}

.login-btn{
    margin-bottom: 10px;
    font-size: 4rem;
    width: 100%;
    color: white;
    background-color: $dark;
    padding: 10px;
    text-align: center;

    p{
        font-size: 1.5rem;
    }
}

.submit-block{
    @extend .login-btn;
    background-color: $grey;
    text-align: left;

    label{
        font-size: 3rem;
    }

    button{
        margin-top: 20px;
    }

    input[type=radio]{
        transform: scale(2);
    }

    .submit-block-options{
        font-weight: bold;
        padding-top: 10px;
    }
}