html,
body {
    color: $dark;
    height: 100%;
    min-height: 100%;
    overflow:initial;
    font-family: arial !important;
    
}

h1 {
    font-size: 4.5rem;
    color: #816485;
}

h3 {
    font-size: 2rem;
    margin-top: 0;
    color: #cdc1ce;
}

h2 {
    font-size: 2rem;
    color: $dark;
}

.whats-this {
    p {
        width: 50%;
        float: left;
    }
    i {
        width: 50%;
        float: left;
        color: $dark;
    }
}

#login-form{
    width: 100%;
    float: left;
}

.fa.pull-left {
    margin-right: 0;
}

.red-bg {
    background-color: red;
    color: white;
}

.orange-bg {
    background-color: orange;
    color: white;
    margin-top: 20px;

}

.light-para {
    color: $white;
}
#dialog-confirm{
    display: none;
}


.no-radius {
    border-radius: 0;
}

.text-box {
    border: 1px solid $grey;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
    margin-top:10px;
}

.underline {
    text-decoration: underline;
}

.faux-underline {
    border-bottom: 2px solid $dark;
    padding-bottom: 5px;
    color: $dark;
}

.navbar-default {
    background-color: $dark;
    color: $white;
}

.navbar-default .navbar-nav>li>a {
    color: $white;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    text-decoration: underline;
    color: $white;
}

.navbar-default .navbar-brand {
    color: $white;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: $dark;
    color: $white;
}

.title-centeral {
    text-align: center;
    color: $lightGreen;
}

.dropdown-menu {
    background-color: $dark;
    li:hover {
        background-color: $dark;
    }
    li {
        background-color: $dark;
        color: $white;
        a:hover {
            background-color: $dark;
            color: white;
            text-decoration: underline;
        }
        a {
            color: white;
        }
    }
    // li:first-of-type {
    //     :before {
    //         font-size: 2rem;
    //         content: '\25BC';
    //         color: $dark;
    //         position: absolute;
    //         top: -22px;
    //         left: 50%;
    //     }
    // }
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    text-decoration: underline;
    color: $white;
}

@media (max-width: 767px) {
    .dropdown-menu {
        margin-top: 0 !important;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: $white;
        background-color: $dark;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: $white;
    }
    // li:first-of-type {
    //     :before {
    //         font-size: 2rem;
    //         content: '';
    //         color: $dark;
    //         position: relative;
    //     }
    // }
    .whats-this {
        p {
            width: 350%;
            float: left;
        }
        i {
            width: 50%;
            float: left;
            color: $dark;
        }
    }
}

//////////Tables////////////////
caption {
    padding: 10px;
    margin-bottom: 10px;
}

///////////Buttons//////////////
.standard-btn {
    @extend .no-radius;
    background-color: $lightGreen;
    border-color: $lightGreen;
    box-shadow: 3px 3px 1px -1px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 10px;
}

.standard-btn:hover,
.standard-btn:active,
.standard-btn:focus,
.standard-btn:link {
    background-color: $dark !important;
    border-color: $dark !important;
}

.portal-info-button {
    background-color: rgba(29, 75, 33, 0.75);
    color: $white;
    text-align: left;
}

.btn-primary {
    border-color: $dark;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #93929b;
    border-color: $dark;
}

.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open>.btn-primary.dropdown-toggle:hover,
.open>.btn-primary.dropdown-toggle:focus,
.open>.btn-primary.dropdown-toggle.focus {
    background-color: #93929b;
    border-color: $dark;
    outline: none !important;
    box-shadow: none;
}

.input-group-btn {
    button {
        background-color: $dark;
        color: white;
    }
}

.finance-button{
    @extend .no-radius;
    box-shadow: 3px 3px 1px -1px rgba(0, 0, 0, 1) !important;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: $white !important;

    :hover{
        color: $white;
    }

    &.f-active{
        background-color: $lightGreen;
    }

    &.f-closed{
        background-color: $altRed;
    }
}

////////////////////////////////////////
.how-portal-works {
    margin-top: 58px;
    margin-bottom: 10px;

    span{
        font-size: 4rem;
        margin-right: 10px;
    }
    p{
        margin: 0;
    }
}

#app {
    min-height: 100%;
    position: relative;
    padding-bottom: 200px;
}

.footer {
    padding-top: 20px;
height: 200px;
width: 100%;
position: absolute;
bottom: 0;
p{
    margin: 0;
}
}

.main{
    min-height:100%;
    position:relative;
}

.project-details-text {
    background-color: rgba(132, 180, 136, 0.75);
    padding: 10px;
    color: $dark;
}

.amber-unchecked{
    display: none;
}

.finance-reports{
    margin-left: 0;
}
.page-errors{
    display: none;
    color: red;
    font-weight: bold;
}

.finance-reports .full-pdf{
    top: -5px !important;
}   
.report-btn{
    margin: 0;
    padding: 3px 15px 3px 15px;
    padding: 3px 25px 3px 25px;
    font-size: 1.2rem;
    position: relative;
    top: -1px;
    left: 49px;
    color: white;
}
#add_project_form {
    .project_date_bar {
        background-color: $grey;
        padding: 10px;
        margin-bottom: 20px;
        label {
            color: $white;
            font-size: 2rem;
            margin-top: 6px;
        }
    }
}

.how-it-works {
    background-color: $lightGreen;
    color: white;
    padding: 10px;
}

video {
    display: block;
    width: 100%;
}

.thankyou {
    background-color: $dark;
    color: white;
    text-align: center;
    padding: 150px 0 150px 0;
    margin-top: 250px;
}

.dark {
    color: $dark;
}

.exempt-errors {
    font-size: 2rem;
    .help-block {
        color: red !important;
    }
}
.help-block {
    color: red !important;
}

.modal-header {
    background-color: $dark;
    color: $white;
    text-align: center;
    h4 {
        font-size: 3rem;
    }
    span {
        color: $white;
        font-size: 4rem;
        opacity: 1;
    }
    .close {
        color: $white;
        font-size: 4rem;
        opacity: 1;
    }
}

.modal-footer {
    border-top: 0px;
}

a:focus {
    outline: none !important;
    box-shadow: none;
}

.datepicker table {
    background-color: white;
    color: $dark;
}

.input-group-addon {
    background-color: $lightGreen;
    color: white;
}

.active.day {
    background-color: $dark !important;
    background-image: none !important;
}

.table {
    color: white;
    border: none !important;
    td,
    tr {
        border: none !important;
    }
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #93929b;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #81808b;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-radius: 0px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: 0px;
}

.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
    background-color: $dark;
    color: white;
}

.pagination>li>a {
    background-color: $grey;
    color: white;
    :hover {
        color: white;
    }
}

.pagination>li {
    border-radius: 0px;
}

#hidden-value {
    display: none;
}

.pagination>li:nth-of-type(8)>a,
.pagination>li:nth-of-type(7)>a {
    background-color: #68a372;
}

.alert-custom {
    background-color: $dark;
    color: white;
    border-radius: 0px;
    padding: 15px 0;
    margin-bottom: 10px;
}

.ok-close,
.ok-close:hover {
    background-color: $lightGreen;
    color: white;
    opacity: 1;
    text-shadow: 0px;
    padding: 7px;
}

.form-control {
    margin-bottom: 10px;
}

.form-group.no-margin{
    margin-bottom: 0px;
}


.annoying-text{
    position: relative;
    top:-5px;
}
/////Calendar
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid $white;
    background: grey;
    color: white;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid $white;
    background: $dark;
    color: white;
}

.get-rid{
    margin-top:0;
    margin-bottom: 0;
}
.numbers-container {
    position: fixed;
    margin-top: 60px;
    left: 41px;
    z-index: 5;
    font-size: 2rem;
    .active {
        color: #816485;
        span {
            background-color: #816485;
        }
    }
    p {
        color: #cdc1ce;
        margin-top: 30px;
        span {
            background-color: #cdc1ce;
            padding: 6px 11px;
            border-radius: 16px;
            color: white;
        }
    }
}

.numbers-line {
    position: fixed;
    top: 0;
    left: 100px;
    height: 100%;
    width: 10px;
    background-color: #816485;
}

.margin-on-that{
    margin-top: 30px;
}

.closed-projects{
    display: none;
    background-color: $rose;
    margin-top: 15px;
    color: $altRed;
    font-size: 1.5rem;

    a{
        color: white;

        :hover{
            color: white;
        }
    }

}

.open-projects{

    background-color: $veryLightGreen;
    margin-top: 15px;
    color: $lightGreen;
    font-size: 1.5rem;

    a{
        color: white;

        :hover{
            color: white;
        }
    }
}

.sort:hover{
    cursor: pointer;
}

.login-btn{
    h2{
        color: $white;
        margin: 0;
        padding: 20px;
        font-size: 3.5rem;
    }
}

.navbar-brand{
    padding: 0px;
    img{
        height: 100%;
        padding: 4px;
        width: auto;
    }
}

.zinc{
    font-size: 10px;
}

.teva{
    width: 140px;
}

.logo-jw{
    padding: 40px;
}
.logo-jw-most{
    padding-bottom: 10px;
}

.clickthrough{
    color: white;
    &:hover{
        cursor: pointer;
        text-decoration: underline;
    }
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

///////////////////Annotatons///////////////

.annotation-block{
    background-color: $white;
    float: left;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;

    .annotation-left{
        float:left;
        width: 70%;
        height: 100%;
        cursor: pointer;
    }

    .annotation-right{
        float:left;
        width: 30%;
        height: 100%;
        cursor: pointer;
    }

    .bin{
        padding: 10px;
        background-color: red;
        color: white;
        height: 100%;
        width: 50%;
        text-align: center;
        margin:0;
        top:0;
    }

    .edit-it{
        padding: 10px;
        color: white;
        background-color: $lightGreen;
        height: 100%;
        width: 50%;
        text-align: center;
        margin:0;
        top:0;
    }

    .archive-it{
        padding: 10px;
        color: white;
        background-color: $lightGreen;
        height: 100%;
        width: 50%;
        text-align: center;
        margin:0;
        top:0;
        float:right;
    }

    h4{
        margin: 0;
        padding: 0;
    }
    p{
        width: 100%;
        margin-top: 15px;
        margin-bottom: 0px;
        float:left;
    }

    &.not-select{
        background-color: #ffffff;
    }

    &.select{
        border: 2px solid #ffe44d;
        background-color: #ffffcc;
    }

}

#notes_list, #archived_notes_list{
    a{
        text-decoration: none;
        font-size: 1.2rem;
        color: $dark;
        &:hover{
            text-decoration: none;
            color: $dark;
        }
    }
}

#mySidenav{
    h2{
        color: white !important;
        text-align: center;
        margin-top: 0;
    }
}

.open-nav{
    position: fixed;
    right: -50px;
    padding: 10px 10px 40px 10px;
    top: 300px;
    background-color: #4b4959;
    color: #ffffff;
    font-size: 2rem;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    z-index: 1001;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.add-annotation{
    position: fixed;
    top: 230px;
    right: -22px;
    padding: 10px 40px 10px 10px;
    z-index: 1001;
    background-color: $lightGreen;
    font-size: 2rem;
    color: white;
    transition:0.5s;
}

.faker{
    position: absolute;
    z-index: -10000;
    color: white;
}
.form-group{
    position: relative;
}

.equalise-master-btn{
    margin-top: -10px !important;
}


.tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 350px; 
    background-color: $dark;
    border-radius: 0px;
    opacity: 1 !important;
    filter:alpha(opacity=100);
    padding: 20px;
}
.tooltip.in {
    opacity: 1 !important;
    filter: alpha(opacity=100);
  }
  .tooltip.top .tooltip-arrow{
    bottom:0;
    left:50%;
    margin-left:-20px;
    border-left:20px solid transparent;
    border-right:20px solid transparent;
    border-top:20px solid $dark;
    font-size: 5rem;
    &:before{
        font-size: 5rem;
    }
}
.tooltip.left .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-20px;
    border-top:20px solid transparent;
    border-bottom:20px solid transparent;
    border-left:20px solid $dark;
    font-size: 5rem;
    &:before{
        font-size: 5rem;
    }
}
.tooltip.bottom .tooltip-arrow{
    top:0;
    left:50%;
    margin-left:-20px;
    border-left:20px solid transparent;
    border-right:20px solid transparent;
    border-bottom:20px solid $dark;
    font-size: 5rem;
    &:before{
        font-size: 5rem;
    }
}
.tooltip.right .tooltip-arrow{
    top:50%;
    left:0;
    margin-top:-20px;
    border-top:20px solid transparent;
    border-bottom:20px solid transparent;
    border-right:20px solid $dark;
    font-size: 5rem;
    &:before{
        font-size: 5rem;
    }
}
textarea.form-control {
    min-height: 60px;
    overflow-y: auto;
    word-wrap:break-word
    }

    .stooltip{    
        border: solid #ffe44d 1px;
        background-color: #ffffff;
        padding: 7px;
        font-size: 20px !important; 
        cursor: pointer;
        color: #ffe44d;
        opacity:0.8;
    }

    .tabs{
        .tab{
            width: 50%;
            margin: 0;
            float: left;
            text-align: center;
            padding: 5px;

            background-color: $dark;
            cursor: pointer;
        }
        p{
            user-select: none;
            margin: 0;
            float: left;
            text-align: center;
            padding: 5px;
            background-color: white;
            width: 100%;
            &.active{
                background-color: $lightGreen;
                color: white;
            }
        }
        margin-bottom: 10px;
        float: left;
        width: 100%;
    }

    .ui-dialog-titlebar {
        font-size: 1.5rem;
        padding: 7px;
      }
      
      .waiting-approval a{
          position: relative;
          top: 0 !important;
      }


      body > div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons.ui-draggable{
          background-color: $dark;
          color: $white;

          p{
              font-size: 1.6rem;
          }

          .ui-dialog-titlebar{
              background-color: $dark;
              font-size: 2.5rem;
              color: $white;
              text-align: center;
              padding: 10px;
              border-bottom: none;
          }
          .ui-dialog-content{
            background-color: $dark;
            color: $white;
            padding: 10px;
            text-align: center;
            border-top: none;
        }

        .ui-dialog-buttonset{
            padding: 10px;
            margin: 0 auto;
            width: 146px;

            button{
                padding: 5px;
            }

            button:nth-of-type(1){
                background-color: red;
                color: white;
            }
        }

        .glyphicon{
            color: yellow;
            font-size: 3rem;
        }
      }

      .glyphicon-file{
          font-size: 1.5rem;
          margin-right: 10px;
      }

      .bump_down{
          margin-top: 12px;
      }

      .btn-fix-pos{
          position: relative;
          z-index: 10;
      }