.list-group.project-list{
    margin-bottom: 10px;
    margin-left: 0;
    
    .project-title{
        background-color: $lightGreen!important;
        color: white;
        cursor: pointer;

        h2{
            font-size: 1.8rem;
            margin:0;
            color: white;
        }
    }

    .list-group-item{
        margin: 10px 0 10px 0;
        background-color: #cbe6c5;
        color: grey;
        padding: 5px 20px;
        p{
            font-size: 1.3rem;
            margin-bottom:0;
            position: absolute;
            top: 6px;
        }
    }

    a{
        color: $white;
    }

    button{
        font-size: 1.5rem;
        margin: 0;
    }


    .standard-btn{
        margin: 0;
        padding: 3px 15px 3px 15px;
        padding: 3px 25px 3px 25px;
        font-size: 1.2rem;
        position: relative;
        top: -5px;
        left: 49px;
      
    }
}
.list-group.project-list .standard-btn {
    margin: 0;
    padding: 3px 15px 3px 15px;
    padding: 3px 25px 3px 25px;
    font-size: 1.2rem;
    position: relative;
    top: -1px;
    left: 49px;
    color: white;

    &:active, &:hover, &:focus, &:visited{
        color: white;
    }
  }
  .remove-margin{
    margin-bottom: 3px !important;
  }
  .full-pdf{
    background-color: $purple;
    border-color: $purple;
    position: absolute !important;
    right: 69px ;
    top: 3px !important;
    left: auto !important;
}

@media (max-width: 460px){
    .full-pdf{
        position: initial !important;
    }
}

.step-text{
    font-size: 2.5rem;

    span{
        font-size: 2rem;
    }
}
.status{
    font-size:3rem;
    margin-top: 20px;
}//
.master-bar{

    padding: 5px 10px;
    background-color: #a5a4ac;

    *{
        color: $dark;
        margin: 0;
    }

    h4{
        padding: 5px 0;
    }
    

    .bar-top{
        border-bottom: 1px solid $white;
    }

    .bar-bottom{
        font-size:1.3rem;

        span{
            padding-top: 3px;
        }
    }
}

.list-group-item:first-child{
    border-radius: 0px;
}

#add_project_form .project_date_bar label{
    font-size: 2.5rem;

    span{
        font-size: 1.3rem;
    }
}

.empty-ting{
    margin-top: 10px;
}

.steps-accordian{
    display: none;
}

.list-group-item:last-child{
    border-radius: 0;
}
