#step1{
	#amber-questions {
		display:none;
	}
	.step1-red-message {		
		display:none;
	}
    .step1-questions {        
        padding:10px 8px 0px 5px;
    }
}

#page_2, #page_3, #page_4, #page_5, #button_section{
	display:none;
}
.p-active {
    background-color: #4b4959 !important;
}

/* The side navigation menu */
.sidenav {
    overflow-y: scroll;
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1001;
    top: 0px;
    right: -260px;
    background-color: #4b4959;
    padding: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    // overflow-x: auto;
    // overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }
     
    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }
     
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }
}

#style-1

#style-1::-webkit-scrollbar
{

}

#style-1::-webkit-scrollbar-thumb
{

}

/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    color: #f1f1f1;
    font-size: 36px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.stooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.stooltip .stooltiptext {
    visibility: hidden;
    width: 120px;
    color: yellow;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.stooltip:hover .stooltiptext {
    visibility: visible;
} 

.highlight_annote_text {
    color: #68a372;
}
.highlight_annote {        
    border: solid #ffe44d 1px;
    background-color: #ffe44d;
    padding: 7px;
    font-size: 20px !important; 
    cursor: pointer;
    color: #ffffff;
}
.hide_annote {
    display: none;
}
#temp {
	display:none;
}
