
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

$dark: #4b4959;
$white: #ffffff;
$grey: #93929b;
$lightGreen: #68a372;
$veryLightGreen: #cbe6c5;
$rose: #c99aa0;
$altRed: #a55660;
$purple: #816485;


//mutator classes

.uneditable{
    background-color: rgb(212, 212, 212) !important;
}

.center-text{
    text-align:center;
    width: 100%;
    float: left;
}

.purple{
    background-color: #816485 !important;
}

.green{
    color: $lightGreen;
}